body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.tbl {
	margin: 50px auto 0 auto;
	border-left: 3px solid #AAA;
	border-top: 3px solid #AAA;
}

.tbl td {
	border-right: 1px solid #AAA;
	border-bottom: 1px solid #AAA;
	padding: 0;
	margin: 0;
}

.tbl tr > td:nth-child(3n) {
	border-right-width: 3px;
}

.tbl tr:nth-child(3n) > td {
	border-bottom-width: 3px;
}

#sudoku input {
	border: 1px solid transparent;
	width: 40px;
	height: 40px;
	text-align: center;
	outline: none;
}

.current {
	background: rgb(62, 207, 26) !important;
}

.disabled {
	background: #DDD !important;
}

.disabled.current {
	background: #BBB !important;
}

.highlighted {
	background: rgba(255, 245, 126, 0.94);

	-webkit-transition: background linear 0.2s;
	-moz-transition: background linear 0.2s;
	-o-transition: background linear 0.2s;
	-ms-transition: background linear 0.2s;
	transition: background linear 0.2s;
}

.error {
	border-color: red !important;
}

#time {
	font-size: 30px;
	text-align: center;
}

#appla {
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(100,100,100,0.4);
	text-align: center;
	display: none;
}

.blur {
	-webkit-filter: blur(5px);

	-webkit-transition: all linear 0.5s;
	-moz-transition: all linear 0.5s;
	-o-transition: all linear 0.5s;
	-ms-transition: all linear 0.5s;
	transition: all linear 0.5s;
}

#resume {
	margin-top: 20%;
}

#hint-box {
	display: none;
	width: 100px;
	font-size: 50px;
	color: #fff;
	background-color: #000;
	border-radius: 25px;
	position: absolute;
	top: 30%;
	left: 50%;
	margin-top: -50px;
	padding: 40px;
	margin-left: -50px;
	text-align: center;
	z-index: 5000;
}
